.App {
  color: rgb(247, 247, 247);
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  padding: .5em 1.5em;
  background-color: rgb(55, 59, 66);
}

@media (max-width: 450px) {
  .App {
    padding: .5em 0em;
  }
}

.noscroll {
  overflow: hidden;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
nav button {
  background: transparent;
  border: none;
  margin: .67em 0;
  font-size: 1.6em;
  color: inherit;
  font-weight: bold;
  font-family: inherit;
}
#controls {
  display: flex;
  align-items: center;
  flex-flow: column;
}

#controls > * {
  margin: 2vh;
  background-color: black;
  border-radius: 100px;
}
.clickable {
  cursor: pointer;
}

.button {
  cursor: pointer;
  display: inline;
  background-color: black;
  color: rgb(247, 247, 247);
  margin-left: 8px;
  padding: 0px 7px 1px 7px;
  border-radius: 12px;
}

.button.invert {
  background-color: rgb(247, 247, 247);
  color: black;
}

.sleeping {
  font-weight: bold;
  color: red;
}