.App {
  text-align: center;
}

.noscroll {
  overflow: hidden;
}

#controls {
  display: flex;
  align-items: center;
  flex-flow: column;
}

#controls > * {
  margin: 2vh;
  background-color: black;
  border-radius: 100px;
}
.clickable {
  cursor: pointer;
}

.button {
  cursor: pointer;
  display: inline;
  background-color: black;
  color: white;
  margin-left: 8px;
  padding: 0px 7px 1px 7px;
  border-radius: 12px;
}

.button.invert {
  background-color: white;
  color: black;
}

.sleeping {
  font-weight: bold;
  color: red;
}