.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, .8);
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );  
  display: flex;
}

.overlay-contents {
  margin: 0 auto;
  max-width: 500px;
  position: static;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

#sleep {
  display: flex;
  flex-flow: column;
  align-self: center;
  justify-self: center;
}

#sleep .button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  font-weight: bold;
  font-size: 4vh;
  min-width: 12vh;
  min-height: 12vh;
  flex: 0 0 0;
  border-radius: 12vh;
  margin: 2vh;
}

#sleep .button span {
  margin-top: -.5vh;
}

#sleep #clear span {
  font-size: 150%;
}

#nav {
  display: flex;
  flex-flow: column;
  align-self: center;
}

#nav .button {
  font-weight: bold;
  font-size: 110%;
  padding-top: 3px;
  padding-bottom: 4px;
}

#nav .result {
  font-weight: bold;
  font-size: 150%;
  margin: 2vh;
}

#clips {
  flex: 1 0 auto;
  padding: 20px 0;
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
  align-self: stretch;
  justify-self: stretch;
  text-align: left;
}

#clips .button {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: 5px;
  padding: 10px;
}

#clips .clip.current {
  font-weight: bold;
}

#clips .button span {
  flex: 1 0 auto;
}

#about {
  background: rgb(40, 42, 44);
  padding: 2em;
  display: flex;
  flex-flow: column;
  align-self: center;
  justify-self: center;
}

#about ul {
  margin-top: 0;
  text-align: left;
  line-height: 1.5em;
}

#about h3 {
  margin: 0;
}